#root {
  /* max-width: 1280px; */
  width: 100%;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

.globe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  max-height: 600px;
  overflow: hidden;

  margin: 4rem auto;

  border: 1px solid #c9ddf7;
  border-radius: 8px;
}
